In [170]:
import os
import pandas as pd
import sqlalchemy as db
from sqlalchemy import create_engine, MetaData, Table, select
from sklearn import model_selection

# Load Data

In [197]:
def export_db_to_df(db_path):
    '''To export data from db to dataframe'''
    # Check if the database files exist
    if not os.path.exists(db_path):
        print("Database files not found. Please make sure they are in the 'data' folder.")
        exit(1)

    # Create SQLAlchemy engine for database
    engine = db.create_engine(f"sqlite:///{db_path}")
    connection = engine.connect()

    # Create SQLAlchemy MetaData objects
    metadata = db.MetaData()
    metadata.reflect(bind=engine)

    # Print table names
    table_name = list(metadata.tables.keys())[0]
    print("Tables in database:")
    print(table_name)


    # Query entire table and export into df
    db_table = Table(table_name, metadata, autoload=True, autoload_with=engine)
    query = db.select(db_table)
    result = connection.execute(query)
    df = pd.DataFrame(result.fetchall(), columns=db_table.columns.keys())
    df = df.reset_index(drop=True)
    print("Complete export to dataframe")

    return df

In [198]:
# Paths to the database files
pre_purchase_db_path = r"C:\Users\anna\Documents\gitHub\NTU\InterpolationModel\data\cruise_pre.db"
post_trip_db_path = r"C:\Users\anna\Documents\gitHub\NTU\InterpolationModel\data\cruise_post.db"

pre_cruise = export_db_to_df(pre_purchase_db_path)
post_cruise = export_db_to_df(post_trip_db_path)

Tables in database:
cruise_pre
Complete export to dataframe
Tables in database:
cruise_post
Complete export to dataframe

# EDA

In [180]:
def check_each_features(df):
    for feature in df.columns:
        print("count for each unique values:")
        print(df[feature].value_counts())
        print("no. of missing data:", len(df[df[feature].isna()]))
        print("percentage of missing data:", str(round(len(df[df[feature].isna()])/len(df)*100, 2)) + "%", "\n")

In [167]:
check_each_features(pre_cruise)

count for each unique values:
0         1
109280    1
23262     1
17117     1
19164     1
         ..
21792     1
109855    1
107806    1
113949    1
2047      1
Name: index, Length: 133746, dtype: int64
no. of missing data: 0
percentage of missing data: 0.0%

count for each unique values:
Female    60950
Male      59340
Name: Gender, dtype: int64
no. of missing data: 13456
percentage of missing data: 10.06%

count for each unique values:
03/05/1984    22
21/04/1998    21
13/04/1981    21
22/02/1998    21
02/12/1984    21
              ..
24/06/1951     1
1837-10-09     1
07/06/1947     1
1856-01-21     1
24/04/2014     1
Name: Date of Birth, Length: 25746, dtype: int64
no. of missing data: 14684
percentage of missing data: 10.98%

count for each unique values:
Direct - Email Marketing    54645
Direct - Company Website    54591
Indirect - Search Engine    12288
Indirect - Social Media     12222
Name: Source of Traffic, dtype: int64
no. of missing data: 0
percentage of missing data: 0.0%

count for each unique values:
A little important      29383
Somewhat important      29101
Very important          22503
Not at all important    20236
Extremely important     13031
Name: Onboard Wifi Service, dtype: int64
no. of missing data: 19492
percentage of missing data: 14.57%

count for each unique values:
4.0    28894
5.0    25428
3.0    20408
2.0    19628
1.0    17709
0.0     6036
Name: Embarkation/Disembarkation time convenient, dtype: int64
no. of missing data: 15643
percentage of missing data: 11.7%

count for each unique values:
3.0    27019
2.0    26611
4.0    21744
1.0    19493
5.0    15504
0.0     5020
Name: Ease of Online booking, dtype: int64
no. of missing data: 18355
percentage of missing data: 13.72%

count for each unique values:
3.0    32067
4.0    27399
2.0    21822
1.0    19678
5.0    15639
0.0        1
Name: Gate location, dtype: int64
no. of missing data: 17140
percentage of missing data: 12.82%

count for each unique values:
09/07/2023 18:30    6
16/07/2023 18:04    6
04/05/2023 14:03    5
16/03/2023 12:23    5
02/06/2023 13:06    5
                   ..
03/01/2023 19:38    1
18/04/2023 2:45     1
11/06/2023 22:20    1
06/01/2023 19:51    1
24/07/2023 20:03    1
Name: Logging, Length: 111041, dtype: int64
no. of missing data: 0
percentage of missing data: 0.0%

count for each unique values:
Very important          27520
Extremely important     25149
Somewhat important      25037
A little important      24763
Not at all important    14468
Name: Onboard Dining Service, dtype: int64
no. of missing data: 16809
percentage of missing data: 12.57%

count for each unique values:
4.0    34851
3.0    24627
5.0    23626
2.0    20078
1.0    12107
0.0     2770
Name: Online Check-in, dtype: int64
no. of missing data: 15687
percentage of missing data: 11.73%

count for each unique values:
4.0    34625
5.0    29035
3.0    20322
2.0    16219
1.0    13292
0.0        1
Name: Cabin Comfort, dtype: int64
no. of missing data: 20252
percentage of missing data: 15.14%

count for each unique values:
Very important          33367
Extremely important     28625
Somewhat important      21627
A little important      20009
Not at all important    14205
Name: Onboard Entertainment, dtype: int64
no. of missing data: 15913
percentage of missing data: 11.9%

count for each unique values:
4.0    35720
5.0    27273
3.0    26394
2.0    16831
1.0    13691
0.0        5
Name: Cabin service, dtype: int64
no. of missing data: 13832
percentage of missing data: 10.34%

count for each unique values:
4.0    40759
5.0    29649
3.0    22674
2.0    12548
1.0     7823
Name: Baggage handling, dtype: int64
no. of missing data: 20293
percentage of missing data: 15.17%

count for each unique values:
4.0    33444
3.0    32481
5.0    23878
2.0    14823
1.0    14773
Name: Port Check-in Service, dtype: int64
no. of missing data: 14347
percentage of missing data: 10.73%

count for each unique values:
4.0    42090
5.0    30282
3.0    22428
2.0    12670
1.0     7944
0.0        5
Name: Onboard Service, dtype: int64
no. of missing data: 18327
percentage of missing data: 13.7%

count for each unique values:
4.0    30217
3.0    27173
5.0    25188
2.0    17911
1.0    14842
0.0       13
Name: Cleanliness, dtype: int64
no. of missing data: 18402
percentage of missing data: 13.76%

count for each unique values:
BL226OLZFKB    2
LB868SFQKCY    2
BL954DKPNPZ    2
LB623FDDNTG    2
BL697ZZJUHD    2
              ..
LB403ZEJKEU    1
BL307HAMBWM    1
LB190JPEJGM    1
BL640RMWQRJ    1
BL342VKYFBB    1
Name: Ext_Intcode, Length: 129850, dtype: int64
no. of missing data: 0
percentage of missing data: 0.0%

In [175]:
check_each_features(post_cruise)

count for each unique values:
0         1
109280    1
23262     1
17117     1
19164     1
         ..
21792     1
109855    1
107806    1
113949    1
2047      1
Name: index, Length: 133746, dtype: int64
no. of missing data: 0
percentage of missing data: 0.0%

count for each unique values:
Blastoise    69151
Lapras       31057
blast         3046
lapras        2955
blastoise     2917
blast0ise     2906
lap           2898
IAPRAS        2885
Name: Cruise Name, dtype: int64
no. of missing data: 15931
percentage of missing data: 11.91%

count for each unique values:
Luxury      54414
Standard    51011
Deluxe       8260
Name: Ticket Type, dtype: int64
no. of missing data: 20061
percentage of missing data: 15.0%

count for each unique values:
337 KM        669
594 KM        408
862 KM        362
404 KM        359
2475 KM       357
             ...
-448 Miles      1
-2637 KM        1
-3786 KM        1
-1714 KM        1
-2132 KM        1
Name: Cruise Distance, Length: 8995, dtype: int64
no. of missing data: 14486
percentage of missing data: 10.83%

count for each unique values:
BL226OLZFKB    2
LB868SFQKCY    2
BL954DKPNPZ    2
LB623FDDNTG    2
BL697ZZJUHD    2
              ..
LB403ZEJKEU    1
BL307HAMBWM    1
LB190JPEJGM    1
BL640RMWQRJ    1
BL342VKYFBB    1
Name: Ext_Intcode, Length: 129850, dtype: int64
no. of missing data: 0
percentage of missing data: 0.0%

count for each unique values:
1.0    32043
0.0    31969
Name: WiFi, dtype: int64
no. of missing data: 69734
percentage of missing data: 52.14%

count for each unique values:
0    66968
1    66778
Name: Dining, dtype: int64
no. of missing data: 0
percentage of missing data: 0.0%

count for each unique values:
1.0    37076
0.0    36613
Name: Entertainment, dtype: int64
no. of missing data: 60057
percentage of missing data: 44.9%

In [199]:
# Date of birth is dropped 
pre_cruise = pre_cruise.drop(["Date of Birth", "index", "Ext_Intcode", "Logging"], axis = 1)

In [200]:
post_cruise = post_cruise.drop(["index", "Ext_Intcode"], axis = 1)

In [201]:
combined_data = pd.concat([pre_cruise, post_cruise], axis = 1)

In [202]:
combined_data = combined_data.dropna(subset=["Ticket Type"])

In [204]:
combined_data = combined_data.fillna("Missing")

In [186]:
y = combined_data["Ticket Type"]

In [189]:
combined_data = combined_data.drop(["Ticket Type"], axis = 1)

In [203]:
check_each_features(combined_data)

count for each unique values:
Female    51805
Male      50479
Name: Gender, dtype: int64
no. of missing data: 11401
percentage of missing data: 10.03%

count for each unique values:
Direct - Email Marketing    46506
Direct - Company Website    46267
Indirect - Search Engine    10474
Indirect - Social Media     10438
Name: Source of Traffic, dtype: int64
no. of missing data: 0
percentage of missing data: 0.0%

count for each unique values:
A little important      24931
Somewhat important      24815
Very important          19088
Not at all important    17289
Extremely important     11031
Name: Onboard Wifi Service, dtype: int64
no. of missing data: 16531
percentage of missing data: 14.54%

count for each unique values:
4.0    24637
5.0    21629
3.0    17326
2.0    16662
1.0    15028
0.0     5120
Name: Embarkation/Disembarkation time convenient, dtype: int64
no. of missing data: 13283
percentage of missing data: 11.68%

count for each unique values:
3.0    23011
2.0    22587
4.0    18510
1.0    16567
5.0    13107
0.0     4261
Name: Ease of Online booking, dtype: int64
no. of missing data: 15642
percentage of missing data: 13.76%

count for each unique values:
3.0    27254
4.0    23328
2.0    18504
1.0    16716
5.0    13284
0.0        1
Name: Gate location, dtype: int64
no. of missing data: 14598
percentage of missing data: 12.84%

count for each unique values:
Very important          23445
Extremely important     21378
Somewhat important      21266
A little important      21016
Not at all important    12309
Name: Onboard Dining Service, dtype: int64
no. of missing data: 14271
percentage of missing data: 12.55%

count for each unique values:
4.0    29651
3.0    21013
5.0    20069
2.0    16999
1.0    10325
0.0     2377
Name: Online Check-in, dtype: int64
no. of missing data: 13251
percentage of missing data: 11.66%

count for each unique values:
4.0    29548
5.0    24567
3.0    17282
2.0    13785
1.0    11330
0.0        1
Name: Cabin Comfort, dtype: int64
no. of missing data: 17172
percentage of missing data: 15.1%

count for each unique values:
Very important          28362
Extremely important     24334
Somewhat important      18412
A little important      16962
Not at all important    12044
Name: Onboard Entertainment, dtype: int64
no. of missing data: 13571
percentage of missing data: 11.94%

count for each unique values:
4.0    30330
5.0    23177
3.0    22574
2.0    14188
1.0    11655
0.0        4
Name: Cabin service, dtype: int64
no. of missing data: 11757
percentage of missing data: 10.34%

count for each unique values:
4.0    34654
5.0    25159
3.0    19435
2.0    10608
1.0     6666
Name: Baggage handling, dtype: int64
no. of missing data: 17163
percentage of missing data: 15.1%

count for each unique values:
4.0    28307
3.0    27635
5.0    20329
1.0    12647
2.0    12589
Name: Port Check-in Service, dtype: int64
no. of missing data: 12178
percentage of missing data: 10.71%

count for each unique values:
4.0    35684
5.0    25741
3.0    19127
2.0    10723
1.0     6768
0.0        4
Name: Onboard Service, dtype: int64
no. of missing data: 15638
percentage of missing data: 13.76%

count for each unique values:
4.0    25697
3.0    23107
5.0    21447
2.0    15200
1.0    12637
0.0       13
Name: Cleanliness, dtype: int64
no. of missing data: 15584
percentage of missing data: 13.71%

count for each unique values:
Blastoise    58753
Lapras       26480
blast         2560
lapras        2529
blastoise     2493
lap           2452
IAPRAS        2445
blast0ise     2437
Name: Cruise Name, dtype: int64
no. of missing data: 13536
percentage of missing data: 11.91%

count for each unique values:
Luxury      54414
Standard    51011
Deluxe       8260
Name: Ticket Type, dtype: int64
no. of missing data: 0
percentage of missing data: 0.0%

count for each unique values:
337 KM        569
594 KM        342
862 KM        309
2475 KM       297
447 KM        295
             ...
2802 Miles      1
-3339 KM        1
2460 Miles      1
-229 Miles      1
2231 Miles      1
Name: Cruise Distance, Length: 8590, dtype: int64
no. of missing data: 12366
percentage of missing data: 10.88%

count for each unique values:
1.0    27246
0.0    27168
Name: WiFi, dtype: int64
no. of missing data: 59271
percentage of missing data: 52.14%

count for each unique values:
1    56967
0    56718
Name: Dining, dtype: int64
no. of missing data: 0
percentage of missing data: 0.0%

count for each unique values:
1.0    31560
0.0    31114
Name: Entertainment, dtype: int64
no. of missing data: 51011
percentage of missing data: 44.87%

In [196]:
check_each_features(y)

AttributeError: 'Series' object has no attribute 'columns'

In [185]:
combined_data.columns

Index(['Gender', 'Source of Traffic', 'Onboard Wifi Service',
       'Embarkation/Disembarkation time convenient', 'Ease of Online booking',
       'Gate location', 'Onboard Dining Service', 'Online Check-in',
       'Cabin Comfort', 'Onboard Entertainment', 'Cabin service',
       'Baggage handling', 'Port Check-in Service', 'Onboard Service',
       'Cleanliness', 'Cruise Name', 'Ticket Type', 'Cruise Distance', 'WiFi',
       'Dining', 'Entertainment'],
      dtype='object')

In [188]:
categorical_column = [
                    "Gender", 
                    "Source of Traffic"
                    "Onboard Wifi Service",
                    "Cruise Name",
                    "Cruise Distance" ]

numerical_column = [
                    "Embarkation/Disembarkation time convenient", 
                    "Ease of Online booking", 
                    "Gate location", 
                    "Onboard Dining Service", 
                    "Online Check-in",
                    "Cabin Comfort",
                    "Onboard Entertainment",
                    "Cabin service",
                    "Baggage handling",
                    "Port Check-in Service",
                    "Onboard Service",
                    "Cleanliness",
                    "WiFi",
                    "Dining",
                    "Entertainment"
                    ]

In [195]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(combined_data, y, test_size = 0.2, stratify=y, random_state = 2023)